<div class="row">
  <div class="col-md-4 mt-5">
    <div class="card">
      <div class="card-header">
        <span>Files</span>
      </div>
      <div class="card-body">
        <div
          appNgDominicodeFiles
          [files]="files"
          (mouseOver)="isOverDrop = $event"
          [ngClass]="{ 'file-over': isOverDrop }"
          class="drop-zone"
        >
          <h4>Drop here your images</h4>
          <img src="../../../assets/img/cloud.png" alt="drop-images" />
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8 mt-5">
    <div class="card">
      <div class="card-header">
        <h4>Files to Upload</h4>
      </div>

      <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th>File name</th>
              <th>Size</th>
              <th>Progress</th>
              <th>URL</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let file of files">
              <td>{{ file.name }}</td>
              <td>{{ file.file.size / 1024 / 1024 | number: ".2.2" }}MB</td>
              <td *ngIf="file.uploadPercent | async as uploadPercent">
                <div class="progress">
                  <div
                    class="progress-bar"
                    role="progessbar"
                    [ngStyle]="{ width: uploadPercent + '%' }"
                  >
                    {{ uploadPercent | number: "1.0-0" }} %
                  </div>
                </div>
              </td>
              <td *ngIf="file.downloadURL | async as downloadURL">
                <a [href]="downloadURL" target="_blank">Download URL</a>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="container-buttons">
          <button (click)="files = []" class="btn btn-danger">Clean all</button>
          <button
            (click)="onUpload()"
            [disabled]="files.length === 0"
            class="btn btn-primary"
          >
            Upload
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
